<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
<footer th:fragment="footer-fragment" class="bg-dark text-white mt-5 p-2">
    <div class="container">
        <div class="row">
            <div class="col">
                <p class="text-muted text-center m-0">
                    Copyright &copy;
                    <span id="year">2022</span>
                    Lexicon Småland
                </p>
            </div>
        </div>
    </div>
</footer>
</body>